{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card-columns"></div>
    {%for group in Groups %}

        <div class="box container">
            <!-- <h5 class="card-title">{{ group.name}}</h5> -->
            <div class="w-80 mx-auto brodcast-container p-5">
            {% for cast in Broadcast %}
            {% if cast.broadcastgroup_id == group.id %}
                <div class="card rounded card-message">
                    <div class="d-flex">
                        <div class="profile-img">
                            <img src="media/images/smiley.png" width="30px" height="30px"><small><strong>USERNAME</strong></small>
                        </div>
                    </div>
                    {% if cast.image != '' %}
                        <img class="rounded-img" src="media/{{cast.image}}" width="100%" height="100%">
                    {% elif cast.video != '' %}
                        <video class="card-img rounded-img" height="250px" width="250px" controls>
                            <source src="media/{{cast.video}}" type="video/mp4">
                            <source src="media/{{cast.video}}" type="video/ogg">
                            <source src="media/{{cast.video}}" type="video/webm">
                        </video>
                    {% elif cast.ytvideo %}
                        <iframe class="rounded-img" width="560" height="315" src="{{ cast.ytvideo }}"></iframe>
                    {% endif %}
                    <h5 class="card-title">{{ cast.title }}</h5>
                    <p class="card-text">{{ cast.description }}</p>
                </div>
                <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="d-flex justify-content-center send-message mb-5">
            <a class="btn btn-primary" href="{% url 'broadcastingMessageForm' %}">ADD NEW MESSAGE</a>
        </div>
    {% endfor %}
{% endblock content %}

